@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 90%);
    font-family: 'Spartan', sans-serif;
}

.header {
    width: 20rem;
    height: 1.5rem;
    margin: 5rem auto 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.theme-btns button {
    border-radius: 80%;
    width: 1.5rem;
    height: 1.5rem;
}

.result {
    width: 20rem;
    height: 3.5rem;
    /* border: 1px solid rgb(109, 109, 212); */
    margin: 2rem auto 2rem auto;
    font-size: 3rem;
    text-align: end;
    border-radius: 5%;
    background-color: hsl(0, 0%, 93%);
    ;
    color: black;
}

#result {
    width: 20rem;
    height: 4rem;
    background-color: hsl(0, 0%, 93%);
    color: white;
    font-size: 3rem;
    font-weight: 200;
    color: black;
}

.keypad {
    width: 20rem;
    height: 23rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    border-radius: 10px;
    border: 2px solid black;
    background-color: hsl(0, 5%, 81%);
}

.keypad-grid {
    width: 18rem;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem auto;
}

.btn-number {
    background-color: hsl(30, 25%, 89%);
    border-radius: 6px;
    font-size: 32px;
    padding: 8px;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
}

#DEL {
    background-color: hsl(185, 42%, 37%);
}

#RESET {
    background-color: hsl(185, 42%, 37%);
    grid-column-start: 1;
    grid-column-end: 3;
}

#EQUAL {
    background-color: hsl(25, 98%, 40%);
    grid-column-start: 3;
    grid-column-end: -1;
}